<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/circle.css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Bionic Pancreas for Diabetes</h1>
          </div>
          <div class="col-md-6">
            <img src="static\img\lung_research.jpg" class="img-responsive img-thumbnail">
          </div>
          <div class="col-md-6">
            <div class="col-md-12 text-center">
              <h3 class="text-center">Research Goal</h3>
              <h3 class="text-center">
                <b>$100,000</b>
              </h3>
            </div>
            <div class="col-md-12">
              <div class="col-md-6">
                <div class="clearfix">
                  <div class="c100 p100 big">
                    <span>100%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <a class="btn btn-lg btn-primary" href="http://investedresearcher.trade/invest">Invest</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p>&nbsp;</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <a class="btn btn-lg btn-success" href="http://investedresearcher.trade/invest">Donate</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <p>&nbsp;</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center">
                    <a class="btn btn-lg btn-warning" href="http://investedresearcher.trade/invest">Trade</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-left">
              <div class="row">
                <div class="col-md-6">
                  <ul class="nav nav-pills">
                    <li class="active">
                      <a href="#">Overview</a>
                    </li>
                    <li>
                      <a href="#">Methods</a>
                    </li>
                    <li>
                      <a href="#">Lab Notes</a>
                    </li>
                    <li>
                      <a href="#">Results</a>
                    </li>
                    <li>
                      <a href="#">Discussion</a>
                    </li>
                  </ul>
                  <p class="text-left"></p>
                  <h3>About this Research&nbsp;</h3>“ At Beta Bionics, Inc., we are developing
                  a bionic pancreas system called the iLet™, a revolutionary fully integrated
                  and wearable bionic pancreas medical device platform that automatically
                  and autonomously manages blood sugar levels in people with insulin-dependent
                  type 1 diabetes (T1D) 24/7. The iLet promises to dramatically improve clinical
                  outcomes and profoundly reduce the burden and cost of diabetes care.
                  <h4>Status of the Research&nbsp;</h4>
                  <img src="static\img\projectStatus.jpg" class="img-responsive img-rounded">
                </div>
                <div class="col-md-6 text-left">
                  <p class="text-left"></p>
                  <h3>Affiliates</h3>
                  <br>
                  <img src="static\img\wbc-bf-logo.png" class="img-responsive img-rounded">
                  <br>
                  <img src="static\img\UNSW.png" class="img-responsive img-rounded">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <h1>Research Team</h1>
                <h3>Noel F</h3>
                <h4>Researcher, BETA BIONICS</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                  <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                  <br>Ut enim ad minim veniam, quis nostrud</p>
              </div>
              <img src="static\img\noelf.jpg" class="center-block img-circle img-responsive">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-12">
                <hr>
                <h1 class="text-left">Top Backers</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <img src="static\img\lauren.jpg" class="center-block img-circle img-responsive">
                <h3 class="text-center">Lauren J</h3>
              </div>
              <div class="col-md-4">
                <img src="static\img\neha.jpg" class="center-block img-circle img-responsive">
                <h3 class="text-center">Neha S</h3>
              </div>
              <div class="col-md-4">
                <a href="/investor"><img class="center-block img-circle img-responsive" src="static\img\johndoe2.jpg"></a>
                <h3 class="text-center">Harish P</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h3>Performance of Investment</h3>
          </div>
          <div class="col-md-5">
            <h3>Invest in this Research</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7">
            <h4>Current Bids</h4>
            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>BID</th>
                  <th>ASK</th>
                  <th>Units</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-5">
            <h4>Invest in Research</h4>
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="row ">
                  <div class="col-md-12 pad-adjust">
                    <span class="help-block text-muted small-font">Name</span>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 pad-adjust">
                    <input type="text" class="form-control" placeholder="Your Account Name">
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12 pad-adjust">
                    <span class="help-block text-muted small-font">Ripple Account Number</span>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Enter Account Number">
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-8 col-sm-3 col-xs-3">
                    <span class="help-block text-muted small-font">Amount</span>
                    <input type="text" class="form-control" placeholder="0.00">
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <img src="static\img\ripple-powered-badge-color.png" class="img-thumbnail">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 pad-adjust">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" checked="" class="text-muted">Save details for fast payments
                        <a href="#"> learn how ?</a>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-md-4 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit" class="btn btn-success" value="DONATE">
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit" class="btn btn-primary btn-block" value="INVEST">
                  </div>
                  <div class="col-md-4 col-sm-6 col-xs-6 pad-adjust">
                    <input type="submit" class="btn btn-warning btn-block" value="TRADE">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body></html>
