<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="static/css/circle.css">
  </head><body>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1>Cancer Research</h1>
          </div>
          <div class="col-md-6">
            <img src="static\img\lung_research.jpg" class="img-responsive img-thumbnail">
          </div>
          <div class="col-md-6">
            &nbsp;
          </div>
          <div class="col-md-6">
            &nbsp;
          </div>
          <div class="col-md-6">
            <h3 class="text-center">Research Goal</h3>
            <h3 class="text-center">
              <b>$100,000 --&gt; WIRE RIPPLE HERE</b>
            </h3>
            <div class="col-md-12">
              <div class="col-md-3">
                <p>&nbsp;</p>
              </div>
              <div class="col-md-6">
                <div class="clearfix">
                  <div class="c100 p100 big">
                    <span>100%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-primary" href="http://investedresearcher.trade/invest">Invest in the Research</a></div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-success" href="http://investedresearcher.trade/invest">Donate to the Research</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <p>&nbsp;</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <a class="btn btn-lg btn-warning" href="http://investedresearcher.trade/invest">Trade my Investment</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-6">
                    <ul class="nav nav-pills">
                      <li class="active">
                        <a href="#">Overview</a>
                      </li>
                      <li>
                        <a href="#">Methods</a>
                      </li>
                      <li>
                        <a href="#">Lab Notes</a>
                      </li>
                      <li>
                        <a href="#">Results</a>
                      </li>
                      <li>
                        <a href="#">Discussion</a>
                      </li>
                    </ul>
                    <p class="text-left"></p>
                    <h3>About this Project&nbsp;</h3>Lorem ipsum dolor sit amet, consectetur adipisici
                    elit,
                    <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                    <br>Ut enim ad minim veniam, quis nostrud
                    <p></p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-left">Affiliations and Vetting process here
                      <br>
                      <br>
                      <br>
                      <br>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container">
                <div class="row"><div class="col-md-12"><hr></div></div><div class="row">
                  <div class="col-md-6">
                    <h1>Research Team - Wire Ripple here</h1>
                    <h3>Jane Doe
                      <br>PhD Candidate</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,
                      <br>sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
                      <br>Ut enim ad minim veniam, quis nostrud</p>
                  </div>
                  <img src="static\img\janesmith.jpg" class="center-block img-circle img-responsive">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section">
              <div class="container">
                <div class="row">
                  <div class="col-md-12">
                    <hr><h1 class="text-left">Top Backers&nbsp;- Wire Ripple here</h1>
                    <p class="text-left">We are a group of skilled individuals.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <img src="static\img\johndoe2.jpg" class="center-block img-circle img-responsive">
                    <h3 class="text-center">John Doe</h3>
                    <p class="text-center">Developer</p>
                  </div>
                  <div class="col-md-4">
                    <img src="static\img\johndoe2.jpg" class="center-block img-circle img-responsive">
                    <h3 class="text-center">John Doe</h3>
                    <p class="text-center">Developer</p>
                  </div>
                  <div class="col-md-4">
                    <img src="static\img\johndoe2.jpg" class="center-block img-circle img-responsive">
                    <h3 class="text-center">John Doe</h3>
                    <p class="text-center">Developer</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  

</body></html>