<div class="cover">
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-md-12 text-center" style="height: 100%; padding-top: 50px;">
        <div class="row top45"></div>
        <div class="well well-lg">
          <div><img src="/static/img/invested-researcher.png" class="img-responsive"></div>
          <div class="row top15"></div>
          <a href="/search" class="btn btn-lg btn-primary">Get Started!</a>
        </div>
      </div>
    </div>
  </div>
</div>
