<div class="cover">
  <div class="container" style="height: 100%;">
    <div class="row" style="height: 100%;">
      <div class="col-md-12 text-center" style="height: 100%; padding-top: 50px;">
        <div class="row top45"></div>
        <div class="well well-lg">
          <div style="color: #000000;"><h1>The Invested Researcher</h1></div>
          <div style="color: #000000;"><h3><i>"Where research is a venture."</i></h3></div>
          <div class="row top15"></div>
          <a href="/search" class="btn btn-lg btn-primary">Get Started!</a>
        </div>
      </div>
    </div>
  </div>
</div>
