<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h1>Harish P (Investor Profile)</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="vertical-align: middle;">
            <h5>&nbsp;Public Ripple Address:&nbsp;(rwobsZzBnQvJtWzTXujo8f5L2wxHywXAHo)</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3 text-center">
                <img src="static\img\johndoe2.jpg" class="img-circle img-responsive">
              </div>
              <div class="col-md-4">
                <h1 class="text-center">
                  <br>
                  <b>Invested in 3<br>Research Projects</b>
                </h1>
              </div>
              <div class="col-md-5">
                <h1 class="text-center text-primary">
                  <b>AUD$ {{ i1fb }} Available</b>
                </h1>
                <h1 class="text-center text-success">
                  <b>BPD {{ i1fh }} Holdings</b>
                </h1>
                <h3 class="text-center text-success">
                  <b>(Est. Market Value: AUD$ 7524)</b>
                </h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <br>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h4><b>AUD$ {{ i1fb }} Invested</b></h4>
      </div>
      <div class="col-md-4">
        <h4><b>AUD$ 15,000 Invested</b></h4>
      </div>
      <div class="col-md-4">
        <h4><b>AUD$500 Donated</b></h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="/project"><img src="static\img\lung_research.jpg" class="img-responsive img-rounded"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\photo-gauche-for-rech1.png" class="img-responsive img-rounded"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\slide-2.jpg" class="img-responsive img-rounded"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Bionic Pancreas for Diabetes</h3>
      </div>
      <div class="col-md-4">
        <h3>Heart Transplant Research</h3>
      </div>
      <div class="col-md-4">
        <h3>Palliative Care Research</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>Building a bionic pancreas to improve the lives of people with type 1 diabetes.</p>
      </div>
      <div class="col-md-4">
        <p>Working under the supervision of Heart Research Australia’s Chair of Cardiology, Professor Helge Rasmussen, Jane D is part of a team working on a drug which is showing the potential to reverse the debilitating and often fatal results of heart failure.</p>
      </div>
      <div class="col-md-4">
        <p>The Palliative Care Clinical Studies Collaborative (PaCCSC) is a national research network that aims to build capacity within the health workforce in the conduct of high quality clinical research in patients nearing the end of life and the translation of research results into clinical practice.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="/project"><img src="static\img\noelf.jpg" class="img-circle img-responsive"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\margi.jpg" class="img-circle img-responsive"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\vinod.jpg" class="img-circle img-responsive"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-left">
          <b>Noel F</b>
          <br>Researcher, BETA BIONICS</p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Jane D</b>
          <br>PhD, University of NSW</p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Vinod R</b>
          <br>PhD, University of NSW</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-left">
          <b>Phase:</b>&nbsp;Seed</b>
          <b>Goal: </b>AUD$ 100,000</b>
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Phase:</b>&nbsp;Seed</b>
          <b>Goal: </b>AUD$ 100,000</b>
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Phase:</b>&nbsp;Seed</b>
          <b>Goal: </b>AUD$ 100,000</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 100%;">100% Complete</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" style="width: 60%">
            <span class="sr-only">35% Complete (success)</span>60%</div>
          <div class="progress-bar progress-bar-success" style="width: 20%">
            <span class="sr-only">20% Complete (warning)</span>20%</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%;">75% Complete</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          <b>Initial Invesment: </b>AUD$ {{ i1fb }} Invested
          <br>
          <b>Units: </b>{{ i1fh }} BPD
          <br>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <b>Initial Invesment: </b>AUD$ 5,000
          <br>
          <b>Units: </b>50 HTR
          <br>
        </p>
      </div>
      <div class="col-md-4">
        </br>
      </div>
    </div>
    <div class="row top45"></div>
    </div>
  </div>
</div>
