    <div class="cover hidden-xs">
      <div class="cover-image" style="background-image: url('static/img/research_2.jpg');"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="text-muted">The Invested Researcher</h1>
            <p class="text-muted">Where research is a Venture.</p>
            <br>
            <br>
            <a href="http://investedresearcher.trade/search" class="btn btn-lg btn-primary">Get Started!</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="static/img/surgery.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Invest in Healthcare</h1>
            <h3>Direct access to healthcare research</h3>
            <p>Direct access to the market – you know your money is going directly to the research.<br>Instant settlement – Your funds will be delivered to the researcher instantly<br>&nbsp;Aenean massa. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
              elementum semper nisi.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h1 class="text-primary">Diversify your portfolio</h1>
            <h3>Add healthcare innovation to your portfolio</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo
              ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis
              dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
              Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In
              enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum
              felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus
              elementum semper nisi.</p>
          </div>
          <div class="col-md-6">
            <img src="static/img/slider_img_04.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="static/img/diagram-b.jpg" class="img-responsive">
          </div>
          <div class="col-md-6">
            <h1 class="text-primary">Know where your money is invested</h1>
            <h3>Transparency of funds</h3>
            <p>Transparency of funds - Ability to track your investments have been used for the research you paid for.
Minimise risk of third parties – distributed ledger allows you to track and store funds without a single third party gateway.
Trustless model with certainty – Direct ownership of assets, not via other third parties (e.g. banks)
24/7 trading – Trade on your assets and funds anytime</p>
          </div>
        </div>
      </div>
    </div>
  

