<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Search</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for healthcare research">
              <span class="input-group-btn">
                <a class="btn btn-success" type="submit" href="http://investedresearcher.trade/search">Go</a>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Advanced Search</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="section text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <h3>Area of Research</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <ul>
                          <li>Pyschology</li>
                          <li>Cardio Vascular</li>
                          <li>Cancer</li>
                        </ul>
                      </div>
                      <div class="col-md-6 text-left">
                        <ul>
                          <li>Pathology</li>
                          <li>Surgery</li>
                          <li>Respiratory</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <h3 class="text-left">Stage of research</h3>
                        <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-2 text-left">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Pre-seed</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Seed</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series A</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Series A</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series B</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Series B</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series C</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series D</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Series D</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Other</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Funded</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 text-left">
                        <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-2 text-left">
                            <h3 class="text-left">Type of funding</h3>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Equity</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Convertible Note</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Debt</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Revenue Share</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Top Projects</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <a href="/project"><img src="static\img\lung_research.jpg" class="img-responsive img-rounded"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Lung Cancer Research</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="static\img\janesmith.jpg" class="img-circle img-responsive"></a>
          </div>
          <div class="col-md-9">
            <p class="text-left">
              <b>Dr. Jane Smith</b>
              <br>PhD, University of NSW</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-left">
              <b>Phase: </b>Seed</p>
          </div>
          <div class="col-md-6">
            <p class="text-right">
              <b>Goal: </b>$100,000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 100%;">100% Complete</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img src="static\img\graph.jpg" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <a><img src="static\img\photo-gauche-for-rech1.png" class="img-responsive img-rounded"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Heart Transplant Research</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="static\img\margi.jpg" class="img-circle img-responsive"></a>
          </div>
          <div class="col-md-9">
            <p class="text-left">
              <b>Dr. Margi Sargent</b>
              <br>PhD, University of Sydney</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-left">
              <b>Phase: </b>Seed</p>
          </div>
          <div class="col-md-6">
            <p class="text-right">
              <b>Goal: </b>$100,000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 60%;">60% Complete</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img src="static\img\graph.jpg" class="img-responsive">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12">
            <a><img src="static\img\slide-2.jpg" class="img-responsive img-rounded"></a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <h3>Palative Care Research</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipisici elit,&nbsp;</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <a href="#"><img src="static\img\john.jpg" class="img-circle img-responsive"></a>
          </div>
          <div class="col-md-9">
            <p class="text-left">
              <b>John Brown</b>
              <br>PhD Candidate, University of Sydney</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p class="text-left">
              <b>Phase: </b>Seed</p>
          </div>
          <div class="col-md-6">
            <p class="text-right">
              <b>Goal: </b>$100,000</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: 75%;">75% Complete</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <img src="static\img\graph.jpg" class="img-responsive">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Top Investors</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="static\img\lauren.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center">Lauren Jackson</h3>
        <p class="text-center">12 Projects</p>
      </div>
      <div class="col-md-4">
        <img src="static\img\bill.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center">Bill Gates</h3>
        <p class="text-center">10 Projects</p>
      </div>
      <div class="col-md-4">
        <img src="static\img\warren.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center">Warren Buffett</h3>
        <p class="text-center">8 Projects</p>
      </div>
    </div>
    <div class="row top45"></div>
  </div>
</div>
