<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Search</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <form role="form">
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for healthcare research">
              <span class="input-group-btn">
                <a class="btn btn-success" type="submit" href="http://investedresearcher.trade/search">Go</a>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-offset-3 col-md-6 text-center">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse1">Advanced Search</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <div class="section text-left">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 text-center">
                        <h3>Area of Research</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <ul>
                          <li>Pyschology</li>
                          <li>Cardio Vascular</li>
                          <li>Cancer</li>
                        </ul>
                      </div>
                      <div class="col-md-6 text-left">
                        <ul>
                          <li>Pathology</li>
                          <li>Surgery</li>
                          <li>Respiratory</li>
                        </ul>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 text-left">
                        <h3 class="text-left">Stage of research</h3>
                        <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-2 text-left">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Pre-seed</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Seed</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series A</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Series A</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series B</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Series B</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series C</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Bridge to Series D</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Series D</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Other</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Funded</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 text-left">
                        <div class="form-group">
                          <div class="col-sm-10 col-sm-offset-2 text-left">
                            <h3 class="text-left">Type of funding</h3>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Equity</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Convertible Note</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Debt</label>
                            </div>
                            <div class="checkbox">
                              <label>
                                <input type="checkbox">Revenue Share</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Top Projects</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="/project"><img src="static\img\lung_research.jpg" class="img-responsive img-rounded"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\photo-gauche-for-rech1.png" class="img-responsive img-rounded"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\slide-2.jpg" class="img-responsive img-rounded"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h3>Bionic Pancreas for Diabetes</h3>
      </div>
      <div class="col-md-4">
        <h3>Heart Transplant Research</h3>
      </div>
      <div class="col-md-4">
        <h3>Palliative Care Research</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>Building a bionic pancreas to improve the lives of people with type 1 diabetes.</p>
      </div>
      <div class="col-md-4">
        <p>Working under the supervision of Heart Research Australia’s Chair of Cardiology, Professor Helge Rasmussen, Jane D is part of a team working on a drug which is showing the potential to reverse the debilitating and often fatal results of heart failure.</p>
      </div>
      <div class="col-md-4">
        <p>The Palliative Care Clinical Studies Collaborative (PaCCSC) is a national research network that aims to build capacity within the health workforce in the conduct of high quality clinical research in patients nearing the end of life and the translation of research results into clinical practice.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <a href="/project"><img src="static\img\noelf.jpg" class="img-circle img-responsive"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\margi.jpg" class="img-circle img-responsive"></a>
      </div>
      <div class="col-md-4">
        <a href="#"><img src="static\img\vinod.jpg" class="img-circle img-responsive"></a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-left">
          <b>Noel F</b>
          <br>Researcher, BETA BIONICS</p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Jane D</b>
          <br>PhD, University of NSW</p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Vinod R</b>
          <br>PhD, University of NSW</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p class="text-left">
          <b>Phase:</b>&nbsp;Seed</b>
          <b>Goal: </b>AUD$ 100,000</b>
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Phase:</b>&nbsp;Seed</b>
          <b>Goal: </b>AUD$ 100,000</b>
        </p>
      </div>
      <div class="col-md-4">
        <p class="text-left">
          <b>Phase:</b>&nbsp;Seed</b>
          <b>Goal: </b>AUD$ 100,000</b>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 100%;">100% Complete</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" style="width: 60%">
            <span class="sr-only">35% Complete (success)</span>60%</div>
          <div class="progress-bar progress-bar-success" style="width: 20%">
            <span class="sr-only">20% Complete (warning)</span>20%</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="progress">
          <div class="progress-bar" role="progressbar" style="width: 75%;">75% Complete</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <p>
          <b>Initial Invesment: </b>AUD$ {{ i1fb }} Invested
          <br>
          <b>Units: </b>{{ i1fh }} BPD
          <br>
        </p>
      </div>
      <div class="col-md-4">
        <p>
          <b>Initial Invesment: </b>AUD$ 5,000
          <br>
          <b>Units: </b>50 HTR
          <br>
        </p>
      </div>
      <div class="col-md-4">
        </br>
      </div>
    </div>
    <div class="row top45"></div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center">Top Investors</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <img src="static\img\lauren.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center">Lauren J</h3>
      </div>
      <div class="col-md-4">
        <img src="static\img\neha.jpg" class="center-block img-circle img-responsive">
        <h3 class="text-center">Neha S</h3>
      </div>
      <div class="col-md-4">
        <a href="/investor"><img class="center-block img-circle img-responsive" src="static\img\johndoe2.jpg"></a>
        <h3 class="text-center">Harish P</h3>
      </div>
    </div>
    </div>
    <div class="row top45"></div>
  </div>
</div>
