<div class="cover">
  <div id='signup'>
    <div class="container">
      <div class="row top45"></div>
      <div class="row">
          <div class="col-lg-3"></div>
          <form role="form">
              <div class="col-lg-6">
                  <div class="form-group">
                      <div class="input-group">
                          <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <input type="email" class="form-control" id="InputEmailFirst" name="InputEmail" placeholder="Enter Email" required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                      </div>
                  </div>
                  <div class="form-group">
                      <div class="input-group">
                          <input type="email" class="form-control" id="InputEmailSecond" name="InputEmail" placeholder="Confirm Email" required>
                          <span class="input-group-addon"><span class="glyphicon glyphicon-asterisk"></span></span>
                      </div>
                  </div>
                  <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-success pull-right">
              </div>
          </form>
        <div class="col-lg-3"></div>
      </div>
    </div>
  </div>
</div>
